//font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// Overskriv Bootstrap variabler 
$primary: #0D0000; // Tekstfarve primær
$secondary: #FFFFFF; // Tekstfarve sekundær
$body-background-color: #F7F2EA; // Baggrundsfarve
$figure-color: #D6CCC7; // Figurfarve
$navbar-color: #989181; // Navbarfarve
$button-first-color: #E6D4BD; // knapper farve
$button-second-color: #000000; // knapper farve

// Overskriv Bootstrap's navbar farver
$navbar-dark-color: $navbar-color;
$navbar-dark-hover-color: $navbar-color;
$navbar-dark-active-color: $navbar-color;



//standard i body
body {
    background-color: $body-background-color !important;
    font-family: 'Montserrat', sans-serif !important;
  }

// XX-Large devices (larger desktops, 1400px and up) 
@media (min-width: 1400px) {
    //navbar
    .navbar {
    background-color: $navbar-color;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    }


    .logo{
        margin-right: 10px;
    }

    //indhold på forside
    .picture-col{
        height: 670px;
        max-width: 100%;
    }

    .container{
        color: $primary;
        
    }

    .row{
        height: 0;
    }

 
    .txt-xxxl{
        font-size: 100px;
        padding: 0;
        margin: 0;
    }

    .txt-xxl{
        font-size: 60px;
        padding: 0;
        margin: 0;
    }


    .pb {
        height: auto;
        width: 400px;
        margin-top: 120px;
    }

    .btn-first{
        background-color: $button-first-color !important;
        width: 200px;
    }

    .page-front{
        background-color: $figure-color;
        height: 90vh;
    }

    .btn-2nd{
        background-color: $button-second-color !important;
        width: 200px;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        color: $secondary !important;
        font-weight: bold !important;
    }

    .txt-xxxxl{
        font-size: 200px;
    }



   
}
// Large devices (desktops, 992px and up)
@media (min-width: 991.98px) and (max-width: 1199.98px)  {
    //navbar
    .navbar {
        background-color: $navbar-color;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    
        }

        .logo{
            margin-right: 10px;
        }
    
        //indhold på forside
        .picture-col{
            height: 500px;
            max-width: 100%;
            margin-right: 0;
            margin-left: 0;
            padding: 0;
        }
    
    

        .container{
            color: $primary;
            text-align: left !important;
        }
    
        .txt-xxxl{
            font-size: 70px;
            padding: 0;
            margin: 0;
        }

        .txt-xxl{
            font-size: 35px;
            padding: 0;
            margin: 0;
        }
    
    
        .pb {
            height: auto;
            width: 300px;
            margin-top: 120px;
        }

        .btn-first{
            background-color: $button-first-color !important;
            width: 200px;
        }

        //hobby
        .btn-first{
            background-color: $button-first-color !important;
            width: 200px;
        }
    
        .page-front{
            background-color: $figure-color;
            height: 90vh;
        }
    
        .btn-2nd{
            background-color: $button-second-color !important;
            width: 200px;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            color: $secondary !important;
            font-weight: bold !important;
        }
    
        .txt-xxxxl{
            font-size: 150px;
        }
    
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767px)  {
     //body
     .body-mobile{
        background-image: url('/images/forside_picture.png');
        background-repeat: no-repeat; 
        background-position: 40% 10%;
        background-size: auto;
       

    }
    
    //navbar
    #offcanvasNavbar{
        background-color: $figure-color;
      }

    //indhold på forsiden
    .pb{
        display: none !important;
    
    }

    .container{
        color: $secondary;
        height: 80vh;
        
    }

    .row{
        height: 80vh;
    }


    .btn-first{
        background-color: $button-first-color !important;
        width: 90%;
    }

    .txt-xxl{
        font-size: 15px;

    }

    .txt-xxxl{
        font-size: 50px;
    }

    .text_fp1{
        max-width: 100%;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 990px)  {
  //navbar
  #offcanvasNavbar{
    background-color: $figure-color;
  }
  

    
    //body
    .body-mobile{
        background-image: url('/images/forside_picture.png');
        background-repeat: no-repeat; 
        background-size: 80vh;
        background-position: none;
       

    }

    //indhold på forsiden
   .pb{
        display: none !important;
    
    }

    .container{
        color: $secondary;
        height: 80vh;
        
    }

    .row{
        height: 70vh;
    }


    .btn-first{
        background-color: $button-first-color !important;
        width: 200px;
    }

    .txt-xxl{
        font-size: 30px;

    }

    .txt-xxxl{
        font-size: 60px;
    }

    .text-col{
        margin-left: 200px;
    }
}





